

.loading-prog
{
    background: url('../images/other/loading.gif');
    background-repeat: no-repeat;
    margin-top: 2px;
    background-position: center;
}

#loading-user
{
    color: #ffffff;
}

.fa-icon-padding
{
    margin-top: 13px;
}

.fa-caret-padding
{
    margin-left: 4px;
}

.dropdown-toggle:hover
{
    background-color: #e1e1e1;
}

.navbar-default-color
{
    padding-top : 5px;
    padding-bottom : 5px;
    background-color : #f8f8f8;
    border-bottom : #e7e7e7 solid 1px;
}

.btn-navbar-margins
{
    margin-right: 50px;
}

.errorMessage
{
    margin-top: 5px;
    color: #e11e1e;
    font-size: 12px;
}

.custom-table
{
    
}

.custom-table #no-border
{
    border: none;
}

.summary
{
    color: #cccccc;
    font-size: 12px;
}

.color1
{
    border-bottom: #e11e1e solid 1px;
}

.color-white
{
    color:#ffffff;
}

.border-bottom-dot
{
    border-bottom: #e1e1e1 dashed 1px;
}

.search-title
{
    font-size: 14px;
    margin-top: 15px;
    margin-right: 10px;
}

.forget
{
    font-size: 12px;
}